{% extends '_layout.html' %}

{% block title %}Movie Rating App | All Movies{% endblock %}

{% block body %}
<h1 class="mb-5">All Movies</h1>
<p class="mb-3">See our list of movie ratings below</p>
<!-- TODO: Feature 1 -->
<table class="table">
    <thead>
      <tr>
        <th scope="col">Movie Title</th>
        <th scope="col">Director</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Corpse Bride</td>
        <td>Tim Burton</td>
        <td>3/5</td>
      </tr>
      <tr>
        <td>Nightmare Before Christmas</td>
        <td>Tim Burton</td>
        <td>5/5</td>
      </tr>
      <tr>
        <td>Frankeweenie</td>
        <td>Tim Burton</td>
        <td>4/5</td>
        
      </tr>
    </tbody>
  </table>

{% endblock %}
